

<%= form_with(model: express) do |form| %>
  <% if express.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(express.errors.count, "error") %> prohibited this express from being saved:</h2>

      <ul>
        <% express.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div >

    <%= form.text_field :full_name, placeholder:'Description', class:"field form-control" %>
  </div>
 <hr class="my-4">
  <div>
    <%= form.text_field :phone, placeholder:'0801-2345-678', class:"form-control" %>
  </div>
 <hr class="my-4">
  <div>
    <%= form.text_field :package_size, placeholder:'Package size in kg', class:"form-control"  %>
  </div>
 <hr class="my-4">
  <div>
    <%= form.text_area :pickup_address, placeholder:'Pickup Address', class:"form-control" %>
  </div>
 <hr class="my-4">
  <div>
    <%= form.text_area :delivery_address, placeholder:'Delivery Address', class:"form-control" %>
  </div>
 <hr class="my-4">
  <div>
 <%= form.datetime_select :time_stamp, class:"form-select" %>
  </div>
<hr class="my-4">

  <div class="actions">
    <%= form.submit class:"btn btn-dark btn-lg"%>

  </div>
  <hr class="my-4">
<% end %>
