<div class="jumbotron">
  <h1 class="display-4">My Pickups</h1>
  <p class="lead">Get it Ryt where you want it.</p>
  <hr class="my-4">
  <p><% @expresses.each do |express| %>
      <tr>
        <td>
          <%= link_to express.full_name, express %>
        <td><%= express.package_size %>kg</td> ||
          <td><%= express.delivery_address %></td>
        <td><%= link_to 'Cancel', express, method: :delete, data: { confirm: 'Are you sure you want to cancel the pickup order?' } %></td><br>
         <hr class="my-4">
      </tr>
    <% end %></p>
 <%= link_to 'Get it Ryt', new_express_path, class:"btn btn-dark btn-lg" %>
</div>


